/**
 * partials/header and navigation
 * ---
 */
.layer-one{
	background: #022d3f;
	color: #ffffff;
	font-weight: 600;
	padding: 15px 60px;
	a{
		color: $accent;
		font-weight: 600;
	}
	.contact{
		display: inline-block;
		width: 85%;
		img{
			display: inline-block;
		}
		p{
			display: inline-block;
		}
	}
	.quote{
		display: inline-block;
		width: 14%;
	}
}

.layer-two{
	background: #053d55;
	padding: 0 60px;
	@include container(100%);
	a{
		color: #ffffff;
		font-weight: 600;
	}
	.logo{
		background: url("../images/logo.png") no-repeat;
		background-size: contain;
		/* display: inline-block; */
		vertical-align: middle;
		height: 55px;
		/* width: 20%; */
		@include span(2 of 12);
	}
	nav{
		/* display: inline-block;
		width: 80%;  */
		@include span(10 of 12 last);
		ul{

		}
		li{
			list-style-type: none;
			display: inline-block;
			border-left: 1px solid #1b7797;
			margin-left: -4px;
			a{
				display: block;
				padding: 25px 55px;
				max-width: 170px;
				text-decoration: none;
				&:hover{
					background: #084965;
					transition: background ease 500ms;
					/* border-top: 8px solid #feaa01; */
				}
			}
		}
	}
}