/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: "Monserrat", Helvetica, Arial, "Open Sans", sans-serif;
$header-family-base: 'Roboto Black', Georgia, 'Times New Roman', serif;
$line-height-base: 1.5;
$font-size-base: 16px;

$browser-context: 16; // Default for mixin px to em converter


/**
 * Colors
 */

//brand colors
$main-brand-color: #053d55;

//site colors
$text-color: #343434;
$body-bg: #fff;
$accent: #ffaa00;

//utility colors
$alert: red;


/**
 * Susy
 */

$susy: (
  columns: 12,
);


